extends layout

block content
  h1 It's All Jesus!
  p.lead In the beginning was the word! And the word of God remains unchanged. He may reveal truths to us based on our specific calling and commitment to his grand commission.
  p.lead (A previous version of this may have given an unintended interpretation)
  hr
  .row
    .col-sm-12
      h2 Enter your word(s)
      input(id="words")
      br
      div(id='output')
        ul(id='wordlist', class='nav nav-pills',role='tablist')
      br
      div(id='sum')
        span(id='totalSpan',class='badge')
      //p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      //p
        a.btn.btn-default(href='#', role='button') View details »
    //.col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    //.col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    //.col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »